* {
    box-sizing: border-box;
}
html {
    height: 600px;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-color: #3BB08F;
    font-family: Arial;
    min-height: 100%;
    height: 1px;
    margin: 0px;
}
main.container {
    padding-top: 30px;
}
.parent {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
.block {
    padding: 10px;
    text-align: left;
    background-color: #FFFFFF;
    border: 4px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 49%;
}
.block-save {
    padding: 10px;
    text-align: left;
    background-color: #FFFFFF;
    border: 4px solid white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
h2 {
    color: #FFFFFF;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: Arial;
}
.to_main {
    border: 4px solid white;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.to_main:hover {
    background-color: #FFFFFF;
    color: #3BB08F;
}
.cod{
    overflow: auto;
    font-family: Arial;
    font-size: 14px;
    text-align: left;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FFFFF4;
    padding: 5px;
    height: 100%;
}
.visual {
    height: 100%;
    border-radius: 10px;
    background-color: #FAFAFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.properties {
    text-align: left;
    padding: 10px;
}
.text_edit {
    text-align: left;
    padding: 10px;
}