{% extends "work.html" %}

{% block visual %}
    <button type="button" class="btn btn-{{params['backdrop']}}{{ params['btn_color'] }}{{params['sizing']}}{{params['condition']}}{{params['all_w']}}">{{texts['caption_bth']}}</button>
{% endblock %}

{% block cod %}
<xmp><button type="button" class="btn btn-{{params['backdrop']}}{{ params['btn_color'] }}{{params['sizing']}}{{params['condition']}}{{params['all_w']}}">
    {{texts['caption_bth']}}
</button></xmp>
{% endblock %}

{% block properties %}
<form action="" method="post" novalidate>
    {{ form_p.hidden_tag() }}
    <div class="form-group">
        {{ form_p.btn_color.label }} <br>
        {{ form_p.btn_color(class="form-control") }}
    </div>
    <div class="form-group form-check">
        {{ form_p.backdrop(class="form-check-input") }} {{ form_p.backdrop.label(class="form-check-label") }}
    </div>
    <div class="form-group">
        {{ form_p.sizing.label }} <br>
        {{ form_p.sizing(class="form-control") }}
    </div>
    <div class="form-group form-check">
        {{ form_p.all_w(class="form-check-input") }} {{ form_p.all_w.label(class="form-check-label") }}
    </div>
    <div class="form-group">
        {{ form_p.condition.label }} <br>
        {{ form_p.condition(class="form-control") }}
    </div>
    {{ form_p.submit_p(type="submit", class="btn btn-primary") }}
</form>
{% endblock %}

{% block text_edit %}
<form action="" method="post" novalidate>
    <div class="form-group">
        {{ form_t.caption_bth.label }} <br>
        {{ form_t.caption_bth(class="form-control") }}
    </div>
    {{ form_t.submit_t(type="submit", class="btn btn-primary") }}
</form>
{% endblock %}