<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap-constructor</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/two.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <div class="col-9">
                <h1>Bootstrap-constructor</h1>
            </div>
            <div class="col-3">
                <a href="/index">
                 <div class="to_main">На главную</div>
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="col-12 col-md-6">
            <div class="block block-visual">
                <div class="visual">
                    {% block visual %}{% endblock %}
                </div>
            </div>
            <div class="block block-cod">
                <div class="cod">
                    {% block cod %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="block block-prop">
                <div class="properties">
                    {% block properties %}{% endblock %}
                </div>
            </div>
            <div class="block block-edit">
                <div class="text_edit">
                    {% block text_edit %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>